* {
    box-sizing: border-box;
  }

.body-container {
  text-align: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  outline: 2px solid #605258;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}


